.container{
     display:flex;
   
     background-position: center;
     width: 1000vh;
     
     margin:0;
     padding:0;
     background-image: url(../../Billeder/slide1.jpg);
}
.links{
     display:flex;
     gap:20px;
     justify-content: center;
     flex:5;
     
     padding-top: 10px;
     font-weight: bold;
     height: 500px;
      
}
